$cartHeaderHeight: 100px;
$cartHeaderHeightMb: 70px;

.cart {
  height: 100%;
  max-width: 550px;
  width: 550px;
  background-color: var(--color-white);
  z-index: 999;
  display: flex;
  flex-direction: column;
  position: relative;
  .divider {
    position: absolute;
    top: $cartHeaderHeight;
    left: 0;
    right: 0;
  }
  .cartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: $cartHeaderHeight;
    .cartHeader__title {
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }
  .cart__content {
    flex: 1;
    padding: 0 60px;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    .cart__empty {
      padding: 0 20px;
      width: 100%;
      h2 {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 24px;
        letter-spacing: 1.2px;
      }
      .cart__continue {
        background-color: #000;
        color: var(--color-white);
      }
    }

    .cart__totalPrice {
      padding: 20px 0;
      .cart__totalPrice__title {
        margin-top: 20px;
        margin-bottom: 20px;
        h3 {
          font-weight: 500;
        }
      }
      .btn__chooseProduct.btn__curnon {
        visibility: visible;
      }
    }
  }
  .cart__footer {
    padding: 10px 40px;
    background-color: #f5f5f5;
    .cart__service {
      .service__icon {
        font-size: 24px;
        margin-right: 13px;
      }
      .service__text {
        max-width: 150px;
        font-size: 11px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 1.5px;
      }
    }
  }
}

@media (max-width: 425px) {
  .cart {
    .cart__footer {
      padding: 10px 20px;
      flex-direction: column;
      justify-content: space-between;
      .cart__service {
        .service__icon {
          margin-right: 10px;
        }
        .service__text {
          font-size: 10px;
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    .divider {
      top: $cartHeaderHeightMb;
    }
    .cartHeader {
      padding: 0 20px;
      height: $cartHeaderHeightMb;
    }
    .cart__content {
      padding: 0 20px;
    }
  }
}
