.product__Fulldetail {
  .productDetail__header {
    min-height: 100vh;
    .productDetail__content {
      max-width: 80%;
      margin: auto;

      .productDetail__right {
        .productDetail__name {
          font-size: 36px;
          letter-spacing: 1.5px;
          font-weight: 300;
          margin-bottom: 24px;
        }
        .productDetail__quanlity {
          .productDetail__price {
            font-size: 22px;
            font-weight: 500;
            strong {
              text-decoration: underline;
            }
          }
          .productDetail__rating {
            display: inline-flex;
            align-items: center;
            .productDetail__ratingNumber {
              display: inline-block;
              margin: 0 10px;
              font-size: 14px;
              font-weight: 200;
              opacity: 0.7;
            }
          }
        }
        .productDetail__status {
          margin: 30px 0;
          span {
            text-transform: capitalize;
          }
          .productDetail__statusCotent {
            font-size: 14px;
            margin-right: 20px;
            strong {
              color: green;
              font-weight: 600;
            }
          }
          .productDetail__size {
            padding: 0 10px;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.5);
          }
        }
        .productDetail__sells {
          .productDetail__sells__txt {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.02em;
            margin-bottom: 25px;
            span {
              color: red;
            }
          }
          .productDetail__sells__content {
            max-width: 80%;
            .productDetail__sells__item {
              .productDetail__sells__img {
                width: 80px;
                height: 80px;
              }
              .productDetail__sells__info {
                .productDetail__sells__name {
                  font-size: 11px;
                  font-weight: 100;
                }
                .productDetail__sells__plusPrice {
                  font-weight: 500;
                  display: block;
                  margin: 10px 0;
                  strong {
                    margin-left: 5px;
                    text-decoration: underline;
                  }
                }
                .productDetail__sells__btn {
                  font-size: 12px;
                  opacity: 0.8;
                  border: 1px solid rgba($color: #000000, $alpha: 0.8);
                  background-color: inherit;
                  padding: 4px 16px;
                }
              }
            }
          }
        }
      }
    }

    .product__detail__imgs {
      left: 0;
      right: 0;
      bottom: -50px;
      z-index: 111;

      .product__detail__img {
        width: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 10px;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in;
        &:hover {
          transform: translateY(-10px);
        }
      }
    }
  }
}
