.product__Fulldetail {
  .productDetail__header {
    .productDetail__content {
      max-width: 86%;
      margin: auto;
      min-height: 100vh;
      padding: 60px 0 140px 0;
      margin-bottom: 120px;
      .productDetail__right {
        .productDetail__name {
          font-size: 36px;
          letter-spacing: 1.5px;
          font-weight: 300;
          margin-bottom: 24px;
        }
        .productDetail__quanlity {
          .productDetail__price {
            font-size: 22px;
            font-weight: 500;
            strong {
              text-decoration: underline;
            }
          }
          .productDetail__rating {
            display: inline-flex;
            align-items: center;
            .productDetail__ratingNumber {
              display: inline-block;
              margin: 0 10px;
              font-size: 14px;
              font-weight: 200;
              opacity: 0.7;
            }
          }
        }
        .productDetail__status {
          margin: 30px 0;
          span {
            text-transform: capitalize;
          }
          .productDetail__statusCotent {
            font-size: 14px;
            margin-right: 20px;
            strong {
              color: green;
              font-weight: 600;
            }
          }
          .productDetail__size {
            padding: 0 10px;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
    }
  }
}

@media (max-width: 959px) {
  .product__Fulldetail {
    .productDetail__header {
      background-position: -350px !important;
      .productDetail__content {
        width: 100%;
        max-width: 100%;
        padding-bottom: 100px;
        .productDetail__right {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 569px) {
  .product__Fulldetail {
    .productDetail__header {
      .productDetail__content {
        .productDetail__right {
          box-shadow: 5px 0px 40px rgba($color: #ffffff, $alpha: 0.5);
          background-color: var(--color-white);
        }
      }
    }
  }
}
