.productDetail__imgs {
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 111;
  width: 90%;
  margin: auto;

  .productDetail__img {
    width: 140px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease-in;
    &:hover {
      transform: translateY(-10px);
    }
  }
}

@media (max-width: 668px) {
  .productDetail__imgs {
    .productDetail__img {
      width: 100px;
    }
  }
}
@media (max-width: 320px) {
  .productDetail__imgs {
    .productDetail__img {
      width: 80px;
    }
  }
}
