.app-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--color-white);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  .headerBar {
    .headerBar__left {
      margin: 0;
    }
    .headerBar__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
      .navLink {
        color: var(--color-nav);
      }
    }
    .headerBar__right {
      .nav__search {
        margin: 0 25px;
        cursor: pointer;
      }
      .nav__cart {
        position: relative;
        .countCart {
          position: absolute;
          top: 40%;
          right: -16px;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          line-height: 20px;
          border-radius: 50%;
          background-color: #000;
          text-align: center;
          font-size: 14px;
          font-weight: 100;
          color: var(--color-white);
        }
      }
      .nav__acounts {
        &::after {
          content: "";
          position: absolute;
          top: calc(100% - 20px);
          left: 50%;
          transform: translateX(-50%);
          transition: opacity 0.3s linear;
          opacity: 0;
          border-bottom: 10px solid rgba($color: #000000, $alpha: 0.1);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          z-index: 1;
        }
        &:hover {
          .dropdownAcount {
            display: block;
          }
          &::after {
            opacity: 1;
          }
        }
        .dropdownAcount {
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 200px;
          padding: 12px 0;
          background-color: var(--color-white);
          box-shadow: 0 1px 8px rgba($color: #000000, $alpha: 0.1);
          display: none;
        }
      }
    }
  }
}
