@import "reset";

:root {
  --curnon-font: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif;
  --color-white: white;
  --culor-border: rgba(0, 0, 0, 0.1);
  --color-nav: #302d2d;
}

.flex {
  display: flex;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.txt-up {
  text-transform: uppercase;
}

.txt-center {
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.position__relative {
  position: relative;
}

.position__absolute {
  position: absolute;
}

.left-transform {
  left: 50%;
  transform: translateX(-50%);
}

.item-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.block {
  display: block;
}

.fullWidth {
  width: 100%;
}

.page__account {
  display: flex;
  height: 100vh;
}

.form__style {
  max-width: 700px;
  width: 650px;
  margin: auto;
  background-color: var(--color-white);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 70px 100px;
}

.form__title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
}
.form__desc {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  line-height: 22px;
  opacity: 0.8;
  margin-bottom: 10px;
}
