.cartProduct {
  padding: 20px 0;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .cartProduct__img {
    width: 100px;
    img {
      width: 100%;
    }
  }
  .cartProduct__info {
    margin-left: 20px;
    .cartProduct__name {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 16px;
      text-transform: capitalize;
    }
    .cartProduct__control {
      .cartProduct__amount {
        width: 50px;
        padding: 0 6px;
        border: 1px solid rgba($color: #000000, $alpha: 0.8);
      }
      .cartProduct__price {
        font-size: 16px;
        font-weight: 600;
        margin-left: 20px;
        position: relative;
        letter-spacing: 1px;
        margin-top: auto;
        &::after {
          content: "x";
          position: absolute;
          top: 50%;
          left: -5px;
          transform: translate(-5px, -50%);
          color: #000;
          font-size: 10px;
        }
      }
    }
  }
  .cartProduct__delete {
    margin-left: auto;
  }
}
